@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script:wght@700&family=Fira+Code:wght@300&family=Lora&family=Shalimar&family=Ubuntu:wght@700&display=swap");

/* colors */
:root {
	--color-hue: 180;
	--color-primary: hsl(var(--color-hue), 50%, 50%);

	/* body color */
	--color-primary-light-body: hsl(var(--color-hue), 50%, 40%);

	/* color font */
	--color-font: hsl(var(--color-hue), 70%, 20%);

	/* color outside heading */
	--color-font-head: hsl(var(--color-hue), 70%, 80%);
	/* color name */
	--color-font-name: hsl(240, 100%, 20%);

	/* color button */
	--color-font-btn: hsl(var(--color-hue), 30%, 10%);
}
.dark-mode {
	--color-primary-light-body: hsl(var(--color-hue), 50%, 20%);
	--color-font: hsl(var(--color-hue), 70%, 20%);
	--color-font-btn: hsl(var(--color-hue), 30%, 20%);
	--color-font-name: hsl(240, 70%, 70%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: var(--color-primary-light-body);
	font-family: "Lora", serif;
}
.btn-toogle {
	align-items: flex-end;
}

form {
	display: flex;
	justify-content: center;
	text-align: center;
}
header {
	display: flex;
	justify-content: center;
	text-align: center;
	min-height: 14vh;
	color: hsl(var(--color-hue), 70%, 80%);
}
.name {
	color: blue;
	color: var(--color-font-name);
}
form input {
	min-width: 42vw;
	max-width: 50vw;
	min-height: 5.5vh;
	font-size: 1rem;
	padding-left: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	margin-left: 0.2em;
	color: var(--color-font);
}
.btn1 {
	margin: 0.2rem;
	border: none;
	padding: 1em 1em;
	min-width: 10vw;
	border-radius: 0.5rem;
	color: var(--color-font-btn);
}
.btn1:hover {
	cursor: pointer;
	background: rgb(138, 138, 230);
}
.input_container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.todolist {
	list-style: none;
	min-width: 45vw;
}
.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	color: black;
	margin: 1rem 0rem;
	border-radius: 0.5rem;
	transition: 500ms ease-in-out;
}
.todo li {
	align-items: centera;
	text-align: center;
	padding-left: 0.4rem;
	flex: 1;
	color: var(--color-font);
}
.done {
	border: none;
	padding: 0.7em 1.2em;
	cursor: pointer;
	background: rgb(138, 138, 230);
	margin-right: 0.2em;
	border-radius: 0.5rem;
	color: var(--color-font-btn);
}

.notdone {
	border: none;
	padding: 0.7em 1.2em;
	cursor: pointer;
	background: rgb(233, 233, 215);
	border-radius: 0.5rem;
	color: var(--color-font-btn);
}

@media screen and (min-width: 700px) {
	.form_input {
		min-height: 7vh;
	}
}

.side-ways {
	transform: translateX(200%);
}
