* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(126, 198, 240);
}

form {
	display: flex;
	justify-content: center;
	text-align: center;
}
header {
	display: flex;
	justify-content: center;
	text-align: center;
	min-height: 14vh;
}
.name {
	color: blue;
}
form input {
	min-width: 42vw;
	max-width: 50vw;
	min-height: 5.5vh;
	font-size: 1rem;
	padding-left: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	margin-left: 0.2em;
}
.btn1 {
	border: none;
	padding: 0.5em 1em;
	min-width: 10vw;
	border-radius: 0.5rem;
}
.btn1:hover {
	cursor: pointer;
	background: rgb(138, 138, 230);
}
.input_container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.todolist {
	list-style: none;
	min-width: 45vw;
}
.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	color: black;
	margin: 1rem 0rem;
	border-radius: 0.5rem;
	transition: 500ms ease-in-out;
}
.todo li {
	align-items: centera;
	text-align: center;
	padding-left: 0.4rem;
	flex: 1;
	/* min-height: 9vh; */
}
.done {
	border: none;
	padding: 0.7em 1.2em;
	cursor: pointer;
	background: rgb(138, 138, 230);
	margin-right: 0.2em;
	border-radius: 0.5rem;
}

.notdone {
	border: none;
	padding: 0.7em 1.2em;
	cursor: pointer;
	background: rgb(233, 233, 215);
	border-radius: 0.5rem;
}

@media screen and (min-width: 700px) {
	.form_input {
		min-height: 7vh;
	}
}

.side-ways {
	transform: translateX(200%);
}
